<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to developers zone, Sierra Group Service</title>
    <link rel="stylesheet" href="./sierra-style.css">
</head>
<body>
<div id="app" class="container pt-5">
    <div class="card">
        <h1>Count {{title}}</h1>
        <div class="">
            <input type="text"
                   :placeholder="placeholderString"
                   :value="inputValue"
                   @input="inputChangeHandler"
                   @keydown.enter="addNewNote"
            >
        </div>
<!--        <h2>inVal -> {{inputValue}}</h2>-->

        <button class="btn" @:click="addNewNote" >Add</button>
    </div>

    <ul class="myUl" v-if="notes.length !== 0">
        <li class="item" v-for="(myItem, idx) in notes">
         ({{idx+1}}) {{toUpperCase(myItem)}}
            <button class="btn danger" @:click="deleteCurrentNote(idx)" > delete </button>
        </li>
        <hr>
        <li>
            <strong>Summary of Notes : {{notes.length}}</strong> | Double: {{ doubleCountComputed }}
        </li>
    </ul>
<!--    <div class="no-notes" v-if="notes.lenth === 0">-->
<!--        No notes able for now.-->
<!--    </div>-->
    <div class="no-notes" v-else>
        Sorry.
    </div>
</div>


<script src="https://unpkg.com/vue@^3.4.34"></script>
<script src="./app.js"></script>

</body>
</html>